[submodule "Web/76th-hokuryo-sai"]
	path = Web/76th-hokuryo-sai
	url = https://github.com/76th-Hokuryo-Sai-Eiki/web.git
[submodule "Study/advanced-tree"]
	path = Study/advanced-tree
	url = https://github.com/uni-kakurenbo/study_advanced-tree.git
[submodule "Development/git-redirect-resolver"]
	path = Development/git-redirect-resolver
	url = https://github.com/uni-kakurenbo/git-redirect-resolver.git
[submodule "CompetitiveProgramming"]
	path = CompetitiveProgramming
	url = https://github.com/uni-kakurenbo/cp-workspace.git
[submodule "Web/naro/develop/naro-template"]
	path = Web/naro/develop/naro-template
	url = https://github.com/uni-kakurenbo/naro-template.git
[submodule "Web/naro/develop/naro-template-backend"]
	path = Web/naro/develop/naro-template-backend
	url = https://github.com/traPtitech/naro-template-backend.git
[submodule "Web/h25s_01"]
	path = Web/h25s_01
	url = https://github.com/traP-jp/h25s_01.git
[submodule "Web/NeoShowcase"]
	path = Web/NeoShowcase
	url = https://github.com/traPtitech/NeoShowcase.git
[submodule "CTF/workshop"]
	path = CTF/workshop
	url = https://github.com/uni-kakurenbo/trap-workshop-ctf.git
[submodule "Web/SysAd/manifest"]
	path = Web/SysAd/manifest
	url = https://github.com/traPtitech/manifest.git
[submodule "Web/SysAd/dns"]
	path = Web/SysAd/dns
	url = ssh://git@git.trap.jp:2200/SysAd/dns.git
[submodule "Web/SysAd/traQ_S-UI"]
	path = Web/SysAd/traQ_S-UI
	url = https://github.com/traPtitech/traQ_S-UI.git
[submodule "Web/SysAd/nss"]
	path = Web/SysAd/nss
	url = https://github.com/traPtitech/nss.git
[submodule "Web/SysAd/traPortfolio"]
	path = Web/SysAd/traPortfolio
	url = https://github.com/traPtitech/traPortfolio.git
[submodule "Web/SysAd/traPortfolio-UI"]
	path = Web/SysAd/traPortfolio-UI
	url = https://github.com/traPtitech/traPortfolio-UI.git
[submodule "Web/SysAd/traPortfolio-Dashboard"]
	path = Web/SysAd/traPortfolio-Dashboard
	url = https://github.com/traPtitech/traPortfolio-Dashboard.git
[submodule "Web/SysAd/gitea"]
	path = Web/SysAd/gitea
	url = https://github.com/traPtitech/gitea.git
[submodule "Web/SysAd/tokyotech.org"]
	path = Web/SysAd/tokyotech.org
	url = ssh://git@git.trap.jp:2200/SysAd/tokyotech.org.git
[submodule "Web/traO-Judge-exec"]
	path = Web/traO-Judge-exec
	url = https://github.com/traP-jp/traO-Judge-exec.git
[submodule "Web/SysAd/traQ"]
	path = Web/SysAd/traQ
	url = https://github.com/traPtitech/traQ.git
[submodule "Web/traO-Judge-frontend"]
	path = Web/traO-Judge-frontend
	url = https://github.com/traP-jp/traO-Judge-frontend.git
[submodule "CTF/seccon-beginners-2025"]
	path = CTF/seccon-beginners-2025
	url = https://github.com/uni-kakurenbo/seccon-beginners-ctf-2025.git
[submodule "Web/1m25_12"]
	path = Web/1m25_12
	url = https://github.com/traP-jp/1m25_12.git
[submodule "Study/foundations_of_computing-1"]
    path = Study/foundations_of_computing-1
    url = https://github.com/uni-kakurenbo/foundations_of_computing-1.git
