[submodule "Web/76th-hokuryo-sai"]
	path = Web/76th-hokuryo-sai
	url = https://github.com/76th-Hokuryo-Sai-Eiki/web.git
[submodule "Study/advanced-tree"]
	path = Study/advanced-tree
	url = https://github.com/uni-kakurenbo/study_advanced-tree.git
[submodule "Development/git-redirect-resolver"]
	path = Development/git-redirect-resolver
	url = https://github.com/uni-kakurenbo/git-redirect-resolver.git
[submodule "CompetitiveProgramming"]
	path = CompetitiveProgramming
	url = https://github.com/uni-kakurenbo/cp-workspace.git
[submodule "Web/naro/develop/naro-template"]
	path = Web/naro/develop/naro-template
	url = https://github.com/uni-kakurenbo/naro-template.git
[submodule "Web/naro/develop/naro-template-backend"]
	path = Web/naro/develop/naro-template-backend
	url = https://github.com/traPtitech/naro-template-backend.git
[submodule "Web/h25s_01"]
	path = Web/h25s_01
	url = https://github.com/traP-jp/h25s_01.git
[submodule "Web/NeoShowcase"]
	path = Web/NeoShowcase
	url = https://github.com/traPtitech/NeoShowcase.git
[submodule "CTF/workshop"]
	path = CTF/workshop
	url = https://github.com/uni-kakurenbo/trap-workshop-ctf.git
